table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
  }

p {
    text-align: justify;
    color: black;
}

h1 {
    color: #008270 !important;
}

h2 {
    color: black;
}

h3 {
    color: black;
}

thead {
    background-color: #008270;
    color: white;
    text-align: left;
}

@media print {
    .bd-toc {
        visibility: hidden;
    }
}
